<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>蔬菜安全预警查询</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/jquery-2.0.3.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="dropdown">
            <select id="select">
                <option value ="code">编号搜索</option>
                <option value ="zone">地区搜索</option>
                <option value="good">蔬菜名称搜索</option>
            </select>
        </div>
        <div class="input-group">
            <span class="input-group-btn">
                <img src="/static/img/icon.png" alt="">
            </span>
            <input type="text" id="number" class="form-control" placeholder="输入搜索内容">
            <span class="input-group-btn" id="search">
                <img src="/static/img/search.png" alt="">
            </span>
        </div>

        <div class="result-wrap">
            
        </div>
        <div class="result">
            <div class="title">
                <h1>蔬菜的查询结果</h1>
            </div>
            <div class="result-list">
                
            </div>
        </div>
    </div>

<script>
    $(function(){
        var number = getQuery('number');
        var select = getQuery('select');

        console.log(number)
        console.log(select)

        searchAjax(select, number)

        $("#number").val(number)
        $("#select").val(select)

        $('#search').click(function(){
            var number = $('#number').val();
            var select = $('#select').val();
            console.log(select)
            $('.result-list').html('')
            searchAjax(select, number)
        })


        function getQuery(name) {
            var result = window.location.search.match(new RegExp("[\?\&]" + name + "=([^\&]+)", "i"));
            if (result == null || result.length < 1)
                return undefined;
            return decodeURIComponent(result[1]);
        }


        function searchAjax(select, number){
            var template = null;
            $.ajax({
                type: "GET",
                url: "http://103.241.231.154:8888/search/?q_type=" + select + '&q=' + number,
                dataType: "json",
                success: function(data){
                    console.log(data);
                    var data = data.data;
                    if (data.length == 0) {
                        template = '<div class="info-wrap"><h1>暂无搜索结果</h1></div>';
                        $('.result-list').html(template);
                    }else{
                        for (var i = 0; i < data.length; i++) {
                            console.log(data[i])
                            template = '<div class="info-wrap">'+
                                            '<div class="info">';
                            template += '<p>原产地:<span class="">'+ data[i].zone +'</span></p>';
                            template += '<p>销售地:<span class="">'+ data[i].sale +'</span></p>';
                            template += '<p>蔬菜名称:<span class="">'+ data[i].name +'</span></p>';
                            template += '<p>原产地灌溉水质量:<span class="">'+ data[i].w_status +'</span></p>';
                            template += '<p>蔬菜农药残余量:<span class="">'+ data[i].p_status +'</span></p>';
                            template += '<p>原产地土壤盐碱化程度:<span class="">'+ data[i].m_status +'</span></p>';
                            console.log(data.status);
                            if (data[i].status == 0) {
                                template += '<div class="tip tip0"><h1>该蔬菜严重污染！</h1></div>';
                            }else if (data[i].status == 1) {
                                template += '<div class="tip tip1"><h1>请注意蔬菜安全！</h1></div>';
                            }else if (data[i].status == 2) {
                                template += '<div class="tip tip2"><h1>请放心食用</h1></div>';
                            }
                            template += '</div></div>';
                            $('.result-list').append(template);
                        }
                    }
                }
            })
        }
    })
</script>
</body>
</html>